/* CSS Document */

body{
	margin:0;
	background-color:#708090;
	padding-bottom:20px;
}

.button{
width: 140px;
line-height: 38px;
text-align: center;
font-weight: bold;
color: #fff;
text-shadow:1px 1px 1px #333;
border-radius: 5px;
margin:0 20px 20px 0;
overflow: hidden;
}
.button.black{
border:1px solid #333;
box-shadow: 0 1px 2px #8b8b8b inset,0 -1px 0 #3d3d3d inset,0 -2px 3px #8b8b8b inset;
background: -webkit-linear-gradient(top,#656565,#4c4c4c);
background: -moz-linear-gradient(top,#656565,#4a4a4a);
background: linear-gradient(top,#656565,#4a4a4a);
}

.page{
width: 70px;
height:40px;
/*padding:.5em 3em .5em;*/
/*line-height: 38px;*/
text-align: center;
font-weight: bold;
color: #fff;
text-shadow:1px 1px 1px #333;
border-radius: 5px;
margin:0 10px 10px 0;
border:1px solid #333;
box-shadow: 0 1px 2px #8b8b8b inset,0 -1px 0 #3d3d3d inset,0 -2px 3px #8b8b8b inset;
background: -webkit-linear-gradient(top,#656565,#4c4c4c);
background: -moz-linear-gradient(top,#656565,#4a4a4a);
background: linear-gradient(top,#656565,#4a4a4a);
}

.text
{
 margin:0px;
	margin-left:15%;
	margin-right:15%;
	padding-top:20px;
	padding-left:2%;
	padding-right:2%;
 text-indent:0em;
 width:auto;
 border:2px solid #BEBEBE;
 box-shadow:3px 3px 5px #BEBEBE;
 background-color:#ededef;
 border-radius:10px;
}
.text.pid
{
	margin:15%;
	margin-left:15%;
	margin-right:15%;
}
p
{
	text-indent:2em;
	font-size:115%;
}
.write
{
	outline:groove;
	outline-width:thin;
	background-color:#FFF;
	padding-left:2%;
	padding-right:2%;
	padding-top:3%;
	/*font:微软雅黑;*/
  text-indent:0em;
}

	/*text-align:center;
	text-decoration:none
	*/
#foot{
	text-align:center;
	text-indent:0em;
	font-size:70%;
}

.box
{
	border:2px solid #D6D6D6;
	padding:4px;
	border-radius:10px;
	border-bottom-right-radius:100px;
	box-shadow:5px 5px 8px #CCCCCC;
	margin-bottom:20px;
	background:#FBFBFB;
	padding-left:20px;
	padding-top:15px;
	padding-right:100px;
	color:#616161;
}

.rad
{
	width:100px;
	height:100px;
	border-radius:50%;
	background:#E9DFDF;
	border:10px solid #05CB9C;
	margin-right:-100px;
}
a
{
	text-decoration:none;
	color:#008B8B;
}
#tid{
	color:#008B8B;
}
#ttime
{
	color:#4169E1;
}
#fid
{
	text-alian:left;
	font-size:80%;
}